@page "/category"

@if (IsProcessing)
{
    <div class="position-absolute w-75 h-75 d-flex flex-coumn align-items-center bg-white justify-content-center">
        <img src="~/images/loading.gif" alt="loading" />
    </div>
}
else
{
    <div class="card shadow border-0 mt-4">
        <div class="card-header bg-black bg-gradient ml-0 py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="text-white py-2">Category List</h2>
                </div>
            </div>
        </div>
        <div class="card-body p-4">
            <div class="row pb-3">
                <div class="col-12 text-end">
                    <button class="btn btn-lg btn-secondary" style="width:250px;">Add New Category</button>
                </div>
            </div>
            <p>Category's List</p>
        </div>
    </div>
}

@code {
    public bool IsProcessing { get; set; } = false;
}
